{erl_opts, [
    % Include debug information in the form of abstract code in the compiled
    % beam module. Tools such as Debugger, Xref and Cover require the debug
    % information to be included.
    debug_info, {src_dirs, ["src", "test"]}
]}.

{deps, [
    {etest, "",
        {git, "git://github.com/wooga/etest.git",
        {tag, "58a15db0d83374520303bcd2db464c50d388a000"}}}
]}.
